@import url(root.css);


.btn-primary {
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
}

.btn-primary:hover {
    background-color: darken(var(--main-color), 10%) !important;
    border-color: darken(var(--main-color), 10%) !important;
}

.card-body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    margin-bottom: 35px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}